/* index, 모든 sub 적용할 공통 header, footer common.css */
#wrap {}
#wrap header {
    height:92px;
    padding:0 60px;
    /* container(header) item(h1, nav, right_menu) */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    position:relative; /* lnb_bg의 부모 위치 기준 설정 */
}
#wrap header h1 {
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
}
#wrap header nav #gnb {
    /* container(#gnb) item(li) */
    display:flex;
    flex-flow:row nowrap;
}
#wrap header nav #gnb > li {margin-right:60px;}
#wrap header nav #gnb > li:last-child {margin-right:0;}
#wrap header nav #gnb > li > a {
    line-height:92px;
    height:92px;
    display:block;
    /* font-family:'pretendard',sans-serif; reset초기값에 존재하므로 생략 */
    font-weight:600;
    font-size:1.125rem;
    /* line-height:1; reset초기값에 존재하므로 생략 */
    /* letter-spacing:-0.02em;reset초기값에 존재하므로 생략 */
    /* color:#000;reset초기값에 존재하므로 생략 */
    /* text-align:left; 기본값이므로 작성 필요 없음 */
}
/* ===================================================서브메뉴 */
#wrap header nav #gnb > li .lnb_bg {
    background-color:rgba(255, 255, 255, 0.8);
    position:absolute; left:0; top:92px;
    width:100%; /* absolute 대상일 경우 width값은 부모설정된 요소의 상대값(%)으로 설정된다. */
    padding:50px 0;
    /* 초기 숨기기(마우스 올릴때만 보이도록) */
    display:none;
}
#wrap header nav #gnb > li:first-child:hover .lnb_bg {display:block;}/* company */
#wrap header nav #gnb > li:nth-child(3):hover .lnb_bg {display:block;}/* ir */
#wrap header nav #gnb > li:nth-child(2):hover .lnb_brand_bg {display:block;}/* brand 작업하는 친구들만 block하고 나머진 none하기 */
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 {
    width:max-content;
    margin:0 auto;
    display:flex; flex-flow:row nowrap;
    text-align:center;
    width:max-content;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li {
    margin-right:100px;
    
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li:last-child {margin-right:0;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li > a {
    font-size:1.063rem;
    font-weight:700;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    margin-top: 14px;
}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li {margin-bottom:16px;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li:last-child {margin-bottom:0;}
#wrap header nav #gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {}
/* ===================================================s:브랜드 lnb */
#wrap header nav #gnb > li .lnb_brand_bg {
    background-color:rgba(255, 255, 255, 0.8);
    position:absolute; left:0; top:92px;
    width:100%;
    text-align:center;
    padding:50px 0;
    display:none; /* none */
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 {
    display:flex; flex-flow:row nowrap;
    justify-content:center;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 > li {
    margin-right:30px;
    height:max-content;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 > li:first-child {}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > h2 {
    font-size:1.063rem;
    font-weight:700;
    margin-bottom:14px;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > h2 a {
    font-size:1.063rem;
    font-weight:700;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > a {
    display:block;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 > li:first-child > a:last-child {margin-top:16px;}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > a img {
    border:1px solid #ddd;
    filter:grayscale(100%) brightness(110%);
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > a img:hover {
    filter: grayscale(0) brightness(100%);
    border:1px solid #000;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > .lnb_brand_depth2 {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    width:225px;
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > .lnb_brand_depth2 > li {
    margin-bottom:16px;
    width:105px; height:45px; /* 이미지 밑에 작은 여백이 설정 안했는데도 계속 생겨서 강제로 이미지 크기만큼 사이즈를 주니까 사라짐 */
}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > .lnb_brand_depth2 > li a {}
#wrap header nav #gnb > li .lnb_brand_bg .lnb_brand_depth1 li > .lnb_brand_depth2 > li a img {}
/* ===================================================e:브랜드 lnb */
/* gnb.2 brands 서브메뉴 개별 디자인 (방법2) */
/* lnb_bg의 이름에 id를 추가로 또 주거나 이름변경 -> 브랜드만 잡히게끔 하는 방법 */
/* ===================================================우측 보조메뉴 */
#wrap header .right_menu {
    display:flex;
    flex-flow:row nowrap;
}
#wrap header .right_menu li {margin-left:30px;}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 CSS에서 가상선택자 after또는 before를 이용하여 면으로 변경하여 디자인한다. */
#wrap header .right_menu li:first-child::after {
    content:''; 
    display:inline-block;
    background-color: #000;
    width:1px; height:15px;
    margin-left:30px;
}
#wrap header .right_menu li:first-child {
    line-height: 24px;
    margin-left:0;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
#wrap header .right_menu li a {
    font-size:0.75rem;
    letter-spacing:0;
}
#wrap header .right_menu li a img {}
/* =================================footer */
#wrap .footer_full_w {
    width:100%;
    padding:50px 60px;
}
#wrap footer {
    width:1280px; height:278px; margin:0 auto;
    padding:60px 0;
}
#wrap footer .f_top {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    margin-bottom:12px;
}
#wrap footer .f_top .f_left {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
#wrap footer .f_top .f_left a {
    margin-right:60px;
}
#wrap footer .f_top .f_left a:last-child {margin-right:0;}
#wrap footer .f_top .f_left a:nth-child(1) {
    color:#138FBF;
    font-weight:600;
}
#wrap footer .f_top .f_left a:nth-child(2) {
    color:#DA2128;
    font-weight:600;
}
#wrap footer .f_top .f_left a img {}
#wrap footer .f_top .f_right {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
/* ================================ footer 패밀리사이트+사이트맵 공통 */
#wrap footer .f_top .f_right .site {
    font-family:'pretendard',sans-serif;
    font-size:0.75rem;
    border:1px solid #eee;
    padding:7px 10px;
    height:38px;
}
/* ================================ footer 패밀리사이트+사이트맵 개별 */
#wrap footer .f_top .f_right select {
    margin-right:20px;
    width:190px; outline:none;
    background:#fff url(../images/down_arrow.png) no-repeat 94% center;
}
#wrap footer .f_top .f_right select option {}
#wrap footer .f_top .f_right .site_map {
    background-color: #fff;
    width:135px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
#wrap footer .f_top .f_right .site_map span {}
#wrap footer .f_top .f_right .site_map img {}
#wrap footer .f_bottom {
    height:106px;
}
#wrap footer .f_bottom * {
    color:#808080;
    font-size:0.875rem;
    line-height:1.5;
}
#wrap footer .f_bottom address {
    /* color:#808080;
    font-size:0.875rem;
    line-height:150%; */
    margin-bottom:50px;
}
#wrap footer .f_bottom p {
    /* color:#808080;
    font-size:0.875rem; */
}
